<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= email %><h1>
    <form  action="" method="POST">
        <label for="email">enter new password</label>
        <input type="text" name="password" placeholder="entire email" id="for">
        <label for="email">confirm password</label>
        <input type="text" name="password1" placeholder="entire email" id="for">
        <input type="submit">

</body>
</html> 